body {
  background-color: #320661;
  opacity: 1;
  z-index: -3;
  overflow-x: hidden;
  transition: 1s;
}
html {
  scroll-behavior: smooth;
}

#topnav {
  display: block;
  height: 60px;
  overflow: hidden;
  padding-bottom: 5px;
  transition: 0.15s;
  width: 100%;
  position: fixed;
  transition: .3s;
  margin: 10px 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  margin: 1em 0 0 1em;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 35px;
  margin: auto;
}

.nav div {
  height: 4px;
  background-color: #872BE7;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 30px;
  height: auto;
  margin-left: -100px;
  transition: .6s;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 20px;
}

.bar3 {
  width: 10px;
}

.nav:hover div {
  width: 32px;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 50px;
}

.list {
  padding: 0px 0px 12px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  font-family: 'Open Sans';
  border-radius: 15px;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #872BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 9px) rotate(-135deg);
  transform: translate(0px, 9px) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -9px) rotate(135deg);
  transform: translate(0x, -9px) rotate(135deg);
  width: 30px;
}
.box {
  border-top-color: black;
  border-top-width: 20px;
  display: block;
  float: left;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 15px;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
  background-color: #872BE7;
}

#box6 {
  font-weight: 1200;
}

.maintext {
  text-align: right;
  margin-top: 30px;
}
.header span {
  color: #872BE7;
}
.header {

  float: right;
  color: white;
  font-family: 'Open Sans';
  font-size: 69px;
  margin-bottom: 40px;
}
.about {
  text-align: center;
  float: left;
  color: #872BE7;
  margin-right: -500px;
  margin-top: 420px;
  font-family: 'Open Sans';
  margin-bottom: 0px;
  width: 1040px;
}
.text {
  float: left;
  text-align: left;
  margin-top: 500px;
  margin-left: -400px;
  width: 1040px;
  color: white;
  line-height: 2;
  font-family: 'Open Sans'
}
.national {
  margin-top:  300px;
  line-height: 1.7;
  margin-right: 100px;
  float: right;
  text-align: right;
  min-width: 300px;
  max-width: 500px;
  font-family: 'Open Sans';
  color: white;
}
.img {
  height: 400px;
  margin-left:90px;
}

.officers {
  display: block;
  float: left;
  overflow-x: scroll;
}

.profile1 {
  width: 320px;
  border-radius: 10px;
  height: 300px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 100px;
  float: left;
  background-color: white;
  position: relative;
  text-align: center;
  display: inline-block;
}

.profile1 img {
  text-align: center;
  margin: 20px 75px 0px 75px;
}

.profile1 h4 {
  font-family: 'Open Sans';
  font-size: 25px;
  margin-bottom: 0px;
}

.profile1 p {
  font-family: 'Alegreya Sans SC'
}
