body {
background-color:  #440E7C
}
#contact {
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 3vh 0;
  display: inline-block;
  width: 100%;
  font-size: 2vw;
}

#contacttext
 {
  margin: 0 10%;
  width: 80%;
  text-align: left;
}

#contacttext h3 {
  line-height: .8;
}

#map {
  width: 60vw;
  height: 40vh;
}

#feedback {
  background-color: white;
  color: purple;
  text-align: center;
  line-height: 2;
  padding: 2vh;
  border-radius: 1vh;
  box-shadow: 3px 3px 6px grey;
  width: 100%;
  transition: 0.3s;
}

#feedback h3 {
  font-size: 3vw;
}

#feedback input,
textarea {
  width: 90%;
  font-size: 1.8vw;
  resize: none;
  border-style: hidden;
  padding: 5px;
  border-radius: .5vh;
  box-shadow: 1px 1px 3px grey;
}

#feedback input[type=button] {
  font-size: 2vw;
  width: 20%;
  color: white;
  background-color: #750075;
}

#feedback input[type=button]:hover {
  cursor: pointer;
}

#feedback label {
  font-size: 1.8vw;
  opacity: 0;
  transition: 0.3s;
}

#message {
  height: 20vh;
}
#topnav {
  display: block;
  height: 60px;
  overflow: hidden;
  padding-bottom: 5px;
  transition: 0.15s;
  width: 100%;
  position: absolute;
  transition: .3s;
  margin: 10px 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  margin: 1em 0 0 1em;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 35px;
  margin: auto;
}

.nav div {
  height: 4px;
  background-color: #872BE7;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 30px;
  height: auto;
  margin-left: -100px;
  transition: .6s;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 20px;
}

.bar3 {
  width: 10px;
}

.nav:hover div {
  width: 32px;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 50px;
}

.list {
  padding: 0px 0px 12px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  font-family: 'Raleway';
  border-radius: 15px;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #872BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 9px) rotate(-135deg);
  transform: translate(0px, 9px) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -9px) rotate(135deg);
  transform: translate(0x, -9px) rotate(135deg);
  width: 30px;
}

.box {
  border-top-color: black;
  border-top-width: 20px;
  display: block;
  float: left;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 15px;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
color: #872BE7;
}
#box5 {
  color: #872BE7;
}
.introtext {
  z-index: -2;
}
h1 {
  font-family: 'Open Sans';
  font-size: 69px;
}
::placeholder {
  font-family: 'Open Sans'

}
