body {
  background-color: #000000;
  opacity: 1;
  z-index: -3;
  overflow-x: hidden;
  transition: 1s;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#topnav {
  display: block;
  height: 60px;
  overflow: hidden;
  padding-bottom: 5px;
  transition: 0.15s;
  width: 100%;
  position: absolute;
  transition: .3s;
  margin: 10px 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  margin: 1em 0 0 1em;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 35px;
  margin: auto;
}

.nav div {
  height: 4px;
  background-color: #872BE7;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 30px;
  height: auto;
  margin-left: -100px;
  transition: .6s;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 20px;
}

.bar3 {
  width: 10px;
}

.nav:hover div {
  width: 32px;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 50px;
}

.list {
  padding: 0px 0px 12px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  font-family: 'Raleway';
  border-radius: 15px;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #872BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 9px) rotate(-135deg);
  transform: translate(0px, 9px) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -9px) rotate(135deg);
  transform: translate(0x, -9px) rotate(135deg);
  width: 30px;
}

.box {
  border-top-color: black;
  border-top-width: 20px;
  display: block;
  float: left;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 15px;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
color: #872BE7;
}
#box1 {
  color: #872BE7;
}
.introtext {
  z-index: -2;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: block;
  width: 220%;
  height: 420%;
  filter: opacity(20%) blur(8px);
  z-index: -5;
}

.heading {
  color: white;
  font-family: 'Open Sans';
  font-size: 99px;
  z-index: 1;
  float: right;
  margin-top: -1700px;
  filter: brightness(120%);
}

.heading span {
  color: #872BE7;
  float: right;
}

.mainbody {
  margin-top: -1230px;
  background-color: white;
  width: 100%;
  height: 1220px;
  z-index: -23;
  line-height: 30px;
  float: left;
}

.mainbody h2 {
  color: black;
  font-family: 'Open Sans';
  font-weight: 800;
  padding-top: 50px;
  margin: 40px 40px 40px 20%;
}

.mainbody p {
  max-width: 300px;
  margin-left: 20%;
  font-family: 'Open Sans'
}

.buttons {
  float: right;
  margin-right: 275px;
  margin-top: -380px;
  top: -30px;
  bottom: 0px;
  min-width: 320px;
  max-width: 250px;
  min-height: 40px;
  max-height: 4px;
  background-color: #872BE7;
  vertical-align: middle;
  text-align: center;
  border-radius: 6px;
  padding-top: 10px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: white;
  transition: .1s;
  z-index:4;
  position :relative;
}

.buttons:hover {
  filter: brightness(120%);
}
.cards {
  margin-top: 0px;
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Open Sans';
}
.cards h1 {
  margin-top: 0px;
  margin-left: 40px;
  font-family: 'Open Sans';
  color: white;
}
.cards h5 {
  margin-top:0px;
  margin-left: 40px;
  font-family: 'Open Sans';
  color: #872BE7
}
.cards p {
  margin-top: 0px;
  margin-left: 40px;
  font-family: 'Open Sans';
  color: white;
  width: 900px;
}
#Principles  {
  background-color: white;
}
#Principles p {
  color: black;
  padding-bottom: 60px;

}
#Principles h1 {
  color: black
}
.line {
  border-color: #872BE7;
  margin-top: 40px;
  margin-bottom: 0;
    height: 3px;
    background-color: #872BE7
}
.arch p {
  padding-bottom: 60px;
}
#digital  {
  background-color: white;
}
#digital p {
  color: black;
  padding-bottom: 60px;

}
#digital h1 {
  color: black;
}
#compsci  {
  background-color: white;
}
#compsci p {
  color: black;
  padding-bottom: 60px;

}
#compsci h1 {
  color: black
}
