body {
  background-color: black

}

.text {
  width: 18rem;
  font-family: 'Open Sans';
  margin-left: 20%;
  margin-right: 20%;
}
#topnav {
  display: block;
  height: 1.2rem;
  overflow: hidden;
  padding-bottom: 0.1rem;
  transition: 0.15s;
  width: 100%;
  position: fixed;
  transition: .3s;
  margin: 0.2rem 0.2rem;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  margin: 1em 0 0 1em;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 0.7rem;
  margin: auto;
}

.nav div {
  height: 0.08rem;
  background-color: #872BE7;
  margin: 0.1rem 0;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 0.6rem;
  height: auto;
  margin-left: -2rem;
  transition: .6s;
}

.bar1 {
  width: 0.6rem;
}

.bar2 {
  width: 0.4rem;
}

.bar3 {
  width: 0.2rem;
}

.nav:hover div {
  width: 0.64rem;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 1rem;
}

.list {
  padding: 0px 0px 0.24rem 0.24rem;
  text-decoration: none;
  font-size: 0.5rem;
  color: #999999;
  display: block;
  font-family: 'Open Sans';
  border-radius: 0.3rem;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #827BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 0.18rem) rotate(-135deg);
  transform: translate(0px, 0.18rem) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -0.18rem) rotate(135deg);
  transform: translate(0x, -0.18rem) rotate(135deg);
  width: 0.6rem;
}
.box {
  border-top-color: black;
  border-top-width: 0.4rem;
  display: block;
  float: left;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 0.3rem;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
  background-color: #872BE7;
}
