body {
margin: 0;
padding: 0;
background-color: #9b59b6;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.8rem;
}

.obj {
  width: 0.1rem;
  height: 0.8rem;
  background: white;
  margin: 0 0.04rem;
}
