body {
  background-color: #320661;
  opacity: 1;
  z-index: -3;
  overflow-x: hidden;
  transition: 1s;
}
html {
  scroll-behavior: smooth;
}

#topnav {
  display: block;
  height: 1.2rem;
  overflow: hidden;
  transition: 0.15s;
  width: 100%;
  position: fixed;
  transition: .3s;
  margin: 0.2rem 0.2rem;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 0.7rem;
  margin: auto;
}

.nav div {
  height: 0.08rem;
  background-color: #872BE7;
  margin: 0.1rem 0;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 0.6rem;
  height: auto;
  margin-left: -2rem;
  transition: .6s;
}

.bar1 {
  width: 0.6rem;
}

.bar2 {
  width: 0.4rem;
}

.bar3 {
  width: 0.2rem;
}

.nav:hover div {
  width: 0.64rem;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 1rem;
}

.list {
  padding: 0px 0px 0.24rem 0.24rem;
  text-decoration: none;
  font-size: 0.5rem;
  color: #999999;
  display: block;
  font-family: 'Raleway';
  border-radius: 0.3rem;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #872BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 0.18rem) rotate(-135deg);
  transform: translate(0px, 0.18rem) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -0.18rem) rotate(135deg);
  transform: translate(0x, -0.18rem) rotate(135deg);
  width: 0.6rem;
}
.box {
  border-top-color: black;
  border-top-width: 0.4rem;
  display: block;
  float: left;
  text-decoration: none;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  font-family: 'Raleway';
  font-size: 0.3rem;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
  color: #872BE7;
}

#box6 {
  font-weight: 1200;
}

#box6:hover {
  font-size: 0.32rem;
}

.textbody {
  padding-top: 9rem;
  margin-right: 0.2rem;
  color: white;
  font-family: 'open sans';
  font-size: 1.38rem;
  text-align: right;
}

.tsa {
  color: #872BE7;
}

#arch {
  display: none;
}

.intro {
  float: right;
  font-size: 0.56rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  margin-left: 5%;
  margin-right: 65%;
  border-bottom-color: #872BE7;
  border-bottom-style: solid;
  border-bottom-width: 0.08rem;
}

.intro p {
  float: left;
  font-family: 'Open Sans';
  font-size: 0.3rem;
  width: 8rem;
}

#box {
  color: #872BE7;
}

#box:hover {
  color: #872BE7;
  background-color: rgba(0, 0, 0, 0);
}

.img1 img {
  position: absolute;
  padding-left: 50%;
  width: 45%;
  transition: .3s;
  z-index: -2;
}

.text2 {
  float: right;
  padding-top: 1.6rem;
  padding-right: 10%
}

.text2 h2 {
  color: white;
  font-size: 0.84rem;
  font-family: 'Open Sans';
  z-index: 2;
  text-align: right;
}

.text2 hr {
  float: right;
  width: 230%;
  height: 0.04rem;
  background-color: #872BE7;
  border-color: #872BE7
}

.text2 p {
  float: right;
  color: white;
  width: 8rem;
  font-family: 'Open Sans';
  text-align: right;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.img2 img {
  width: 11.88rem;
  height: 7.7rem;
  padding-left: 1rem;
  padding-top: 12rem;
  z-index: -2;
  float: left;
  position: absolute;
  transition: .3s;
}

.officers {
  display: block;
  float: left;
  overflow: none
}

.profile1 {
  width: 6.4rem;
  border-radius: 0.2rem;
  height: 6rem;
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
  margin-left: 2rem;
  float: left;
  background-color: white;
  position: relative;
  text-align: center;
  display: inline-block;
}

.profile1 img {
  text-align: center;
  margin: 0.4rem 1.5rem 0px 1.5rem;
}

.profile1 h4 {
  font-family: 'Open Sans';
  font-size: 0.5rem;
  margin-bottom: 0px;
}

.profile1 p {
  font-family: 'Alegreya Sans SC'
}
.buttons {
  background-color: #872BE7;
  width: 4rem;
  height:0.4rem;
  float: right;
}
