body {
  background-color: #320661;
  opacity: 1;
  z-index: -3;
  overflow-x: hidden;
  transition: 1s;
}
html {
  scroll-behavior: smooth;
}

#topnav {
  display: block;
  height: 60px;
  overflow: hidden;
  transition: 0.15s;
  width: 100%;
  position: fixed;
  transition: .3s;
  margin: 10px 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.nav, .homelogo {
  float: left;
  z-index: 1
}

#pic {
  transition: .3s;
}

#pic:hover {
  height: 35px;
  margin: auto;
}

.nav div {
  height: 4px;
  background-color: #872BE7;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.box {
  display: block;
}

.nav {
  float: left;
  width: 30px;
  height: auto;
  margin-left: -100px;
  transition: .6s;
}

.bar1 {
  width: 30px;
}

.bar2 {
  width: 20px;
}

.bar3 {
  width: 10px;
}

.nav:hover div {
  width: 32px;
}

.nav:hover {
  cursor: pointer;
}

/*Button END*/
.menu_items {
  padding-top: 50px;
}

.list {
  padding: 0px 0px 12px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  font-family: 'Raleway';
  border-radius: 15px;
  z-index: 3;
  transition: .3s;
}

.list:hover {
  color: #872BE7;
}

.change .bar1 {
  -webkit-transform: translate(0px, 9px) rotate(-135deg);
  transform: translate(0px, 9px) rotate(-135deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: translate(0px, -9px) rotate(135deg);
  transform: translate(0x, -9px) rotate(135deg);
  width: 30px;
}
.box {
  border-top-color: black;
  border-top-width: 20px;
  display: block;
  float: left;
  text-decoration: none;
  padding-left: 45px;
  padding-right: 45px;
  font-family: 'Raleway';
  font-size: 15px;
  color: #FFFFFF;
  transition: .3s;
}

.box:hover {
  color: #872BE7;
}

#box6 {
  font-weight: 1200;
}

#box6:hover {
  font-size: 16px;
}

.textbody {
  padding-top: 450px;
  margin-right: 10px;
  color: white;
  font-family: 'open sans';
  font-size: 69px;
  text-align: right;
}

.tsa {
  color: #872BE7;
}

#arch {
  display: none;
}

.intro {
  float: right;
  font-size: 28px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  margin-left: 5%;
  margin-right: 65%;
  border-bottom-color: #872BE7;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.intro p {
  float: left;
  font-family: 'Open Sans';
  font-size: 15px;
  width: 400px;
}

#box {
  color: #872BE7;
}

#box:hover {
  color: #872BE7;
  background-color: rgba(0, 0, 0, 0);
}

.img1 img {
  position: absolute;
  padding-left: 50%;
  width: 45%;
  transition: .3s;
  z-index: -2;
}

.text2 {
  float: right;
  padding-top: 80px;
  padding-right: 10%
}

.text2 h2 {
  color: white;
  font-size: 42px;
  font-family: 'Open Sans';
  z-index: 2;
  text-align: right;
}

.text2 hr {
  float: right;
  width: 230%;
  height: 2px;
  background-color: #872BE7;
  border-color: #872BE7
}

.text2 p {
  float: right;
  color: white;
  width: 400px;
  font-family: 'Open Sans';
  text-align: right;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.img2 img {
  width: 594px;
  height: 385px;
  padding-left: 50px;
  padding-top: 600px;
  z-index: -2;
  float: left;
  position: absolute;
  transition: .3s;
}

.officers {
  display: block;
  float: left;
  overflow-x: scroll;
}

.profile1 {
  width: 320px;
  border-radius: 10px;
  height: 300px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 100px;
  float: left;
  background-color: white;
  position: relative;
  text-align: center;
  display: inline-block;
}

.profile1 img {
  text-align: center;
  margin: 20px 75px 0px 75px;
}

.profile1 h4 {
  font-family: 'Open Sans';
  font-size: 25px;
  margin-bottom: 0px;
}

.profile1 p {
  font-family: 'Alegreya Sans SC'
}
.buttons {
  background-color: #872BE7;
  width: 200px;
  height:20px;
  float: right;
}
