
#topnav{
    display: block;
    height: 60px;
    overflow: hidden;
    padding-bottom: 5px;
    transition: 0.15s;
    width: 100%;
    position: fixed;
    transition: .3s;
    margin: 40px 10px;
    background: rgba(0  , 0, 0, 0);
    z-index: 1;
}
.nav, .homelogo {
  float: left;
  margin: 1em 0 0 1em;
}
#pic {
  transition: .3s;
}
#pic:hover {
  height: 35px;
  margin: auto;
}
.nav div {
    height: 4px;
    background-color: black;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}
.box {
display: block;
}
.nav {
    float: left;
    width: 30px;
    height: auto;
    margin-left: -100px;
    transition: .3s;
}
.bar1 {
    width: 30px;
}
.bar2 {
    width: 20px;
}
.bar3 {
    width: 10px;
}
.nav:hover div {
    width: 32px;
}
.nav:hover {
    cursor: pointer;
}
/*Button END*/
.menu_items {
    padding-top: 50px;
}

.list {
    padding: 0px 0px 12px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #717D8E;
    display: block;
    font-family: 'Gotham'
}

.list:hover {
  color: black;
  font-size:
}

.change .bar1 {
  -webkit-transform: translate(0px, 9px) rotate(-135deg);
  transform: translate(0px, 9px) rotate(-135deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: translate(0px, -9px) rotate(135deg);
  transform: translate(0x, -9px) rotate(135deg);
  width: 30px;
}

.mySlides {
  display: none;
}
.hi {height: 2000px;}

.bgcircle {
  height: 2500px;
  width: 2500px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  opacity: 20%;
  z-index: -1;
}
#horizontal_menu {
  padding-left: 30px;
}
.box {
border-top-width: 0px;
display: block;
float: left;
padding-left:  62px;
padding-right: 45px;
text-decoration: none;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Gotham', sans-serif;
font-size: 15px;
color: #551A8B;
transition: .3s;
}
.box:hover {
  font-size: 25px;
  color: #000000  ;
  font-family: 'Gotham', sans-serif;
  font-weight: 800;
}
#box2:hover {
  font-size: 22px;
}
.cir {
  overflow: hidden;
  max-width: 100%;
}
.textbody {
  padding-top: 250px;
}
